.remove-list-element-btn {
	float: right;
	color: #B70000;
}

.remove-callback-btn {
	float: right;
	color: #B70000;
}

.disconnected-indicator {
	color: #CCCCCC;
}

.connected-indicator {
	color: #5CB85C;
}

#new-mac {
	margin-bottom: 20px;
}

.callbacks-list {
	width: 100%;
}

#add-connected, #add-disconnected {
	width: 100%;
}